ul {
    list-style: none;
}

.error{
    display: none;
}
.ops-error{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 700; 
    color: darkred;
}
.cat-info {
    padding: 50px;
}

.cat-info-list{
    display: flex;
}
.cat-info-item:first-child{
margin-right: 50px;
}
.description-cat{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
line-height: 1.5;
}
.cat-temp{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 800;
}
.description-temp{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 200;
}
.loader {
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 700;
   
    }

    .loaders {
    display: none;
}